
/* Body styling */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Gill Sans MT', Calibri, 'Gill Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
}

/* Page Title styling */
.page-title {
    position: relative;
    width: 100%; /* Ensure the page-title div covers the entire width */
    margin:0;
    padding :0;
}
.header-img{
    height: 20vh; /* 25% of the page height */
    object-fit: cover; /* Ensures the image covers the entire width */
    width: 200vh;
    position: relative;
}
.header-text{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    text-align:left;
   
}
.colour-change{
    color: #FA6862;
}
/* Spacing between the header and details section */
.section-spacing{
    margin-top: 50px;
}
 
/* Spacing between the details section and footer */
.footer-spacing{
    margin-top:200px;
}

.accordion-item {
    margin-bottom: 1rem; /* Adds some space between accordion items vertically */
  }

  .accordion-button img {
    max-width: 100%;
    height: auto;
  }
  .accordion-button::after {
    display: none;
  }


   /* Container for the image and text */
   .image-container {
    position: relative;
    text-align: left;
    color: grey;
  }


  .accordion-body a {
    display: block;  /* Each link on a new line */
    padding: 5px 0;  /* Spacing between links */
    color: #007bff;  /* Bootstrap's default link color */
    text-decoration: none;  /* Remove underline */
  }

  /* Optional: Add hover effect for links */
  .accordion-body a:hover {
    text-decoration: underline;  /* Add underline on hover */
  }